.header, .footer {
    background-color: #1F2937;
}

body {
    font-family: 'Roboto';
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}

a {
    padding: 20px;
    text-decoration: none;
    color:#F9FAF8;
}

img {
    height:100px;
    width: fit-content;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

h2{
    font-size: 36px;
    font-weight: bolder;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
}

.section_1 {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

.section_2 {
    display: flex;
}

.items {
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-basis: 120px;
    flex-wrap: wrap;
}
.herosub {
    font-size: 18px;
    color: #E5E7EB;
}
